/* Reset some default styles */
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* Header styles */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .sectionNav {
    width: 100%;
    background-color: black;
    justify-content: center;
    display: flex;
}

header .sectionNav .sectionNavdiv {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
}

header .sectionNav .sectionNavdiv a {
    color: white;
}

header .sectionNav .sectionNavdiv a.Email {
    margin-left: auto;
}

header nav {
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

header nav img {
    width: 100px;
}

header nav section {
    display: flex;
    gap: 20px;
}

header nav section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Font Awesome styles */
@import url('https://kit.fontawesome.com/f249cfcc7a.css');
